<%- include('partials/header') %>
<div class="orderSummary_outer">
    <div class="orderSummary_inner">
        <div class="orderSummary_heading">
            <img src="Images/cart-2.png" alt="" >
            <p>&nbsp; All orders</p>
        </div>
        <div class="orderSummar_row_head">
            <div class="ItemDescript_head">Order Id</div>  
            <div class="ItemQuantity_head">Delivery Address</div>        
            <div class="Amount_head">Time</div>      
        </div>

        <% if(allorder.length){ %>
            <% allorder.forEach((order)=>{ %>
                <div class="allOrder_row">           
                    <div class="orderId"><a href="/orderStatus/<%=order._id%>"><%= order._id %></a></div>  
                    <div class="address"><%= order.deliveryAddress %></div>        
                    <div class="time"><%= moment(order.createdAt).format('YYYY-MM-DD') %><br><%= moment(order.createdAt).format('hh:mm A') %></div>             
                </div> 
            <% }) %>
        <% }else{%>
            <p id="no_orders_found">No orders found</p>
        <% } %>
    </div>
</div>
<script>
    alert('Click on order id to track your order');
</script>
<%- include('partials/footer') %>